/* General styles for the entire site */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efeee8;
}


h2{
    text-align: center;
}
/* Specific styles for the projects page */
#project h3{
    font-family:'Times New Roman';
    font-weight: 700;
    text-align: center;           /* Center the title */
    margin-bottom: 20px;
}

/* Styling for project elements */
.project {
    margin-bottom: 20px;
}
